*, 
*::before, 
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "Roboto";
}

.main-page {
    width: 100%;
    height: max-content;
    background-image: url("../image/Background.png");
    background-size: cover;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    margin-top: 51px;
    margin-bottom: 22px;
    height: 51px;
    justify-content: flex-start;
    align-items: center;
}

.header-logo-image {
    background-image: url('../image/Main\ Logo.png');
    width: 53px;
    height: 47px;
    display: block;
    align-self: flex-start;
}

.header-logo:hover > .header-logo-image {
    background-image: url('../image/logo\ 2.png');
    transition-duration: 0.55s;
}

.header-logo-text {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #ffffff;
    padding-left: 8px;
    transition-duration: 0.25s;
}

.header-logo-small-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.header-logo:hover > .header-logo-text > p {
    color: #F26522;
    transition-duration: 0.25s;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    margin-bottom: 17px;
    height: min-content;
}

.header-contacts div {
    height: 21px;
}

.header-contacts div:first-child {
    margin-bottom: 19px;
}

.header-contacts div a {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
}

.header-contacts div a:hover {
    color: #F26522;
}

/* Main */

.main {
    display: flex;
    flex-wrap: wrap;
    width: 1030px;
}

.main-content {
    display: flex;
    width: 300px;
    height: 258px;
    margin-right: 65px;
    margin-bottom: 37px;
}

.main > .main-content:nth-child(1n+4) {
    margin-bottom: 0;
}

.non-margin {
    margin-right: 0;
}

.main-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Card 1 */

.card-1-image-content {
    width: 300px;
    height: 220px;
    background-image: url("../image/Card-1.png");
    position: relative;
}

.card-image-hover-text {
    position: relative;
    left: 0;
    top: 220px;
    width: 100%;
    height: 55px;
    background-color: #F26522;
    color: #ffffff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.first-card-image-hover-text {
    position: absolute;
    top: 7px;
    left: 16px;
    font-size: 10px;
    line-height: 10px;
}

.second-card-image-hover-text {
    position: absolute;
    bottom: 12px;
    left: 16px;
    font-size: 20px;
    line-height: 20px;
}

.third-card-image-hover-text {
    position: absolute;
    bottom: 12px;
    right: 37px;
    font-size: 14px;
    line-height: 14px;
}

.third-card-image-hover-text::after {
    content: url('../image/Vector.png');
    position: relative;
    left: 16px;
    bottom: -1px;
}

.card-text {
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    margin-top: 20px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.main-content-item:hover > .card-text {
    color: #F26522;
}

.main-content-item:hover > .card-1-image-content > .card-image-hover-text {
    opacity: 1;
    top: 165px;
    left: 0;
}

/* Card 2 */

.card-2-image-content {
    width: 300px;
    height: 220px;
    background-image: url("../image/Card-2.png");
    position: relative;
}

.main-content-item:hover > .card-2-image-content > .card-image-hover-text {
    opacity: 1;
    top: 165px;
    left: 0;
}

/* Card 3 */

.card-3-image-content {
    width: 300px;
    height: 220px;
    background-image: url("../image/Card-3.png");
    position: relative;
}

.main-content-item:hover > .card-3-image-content > .card-image-hover-text {
    opacity: 1;
    top: 165px;
    left: 0;
}

/* Card 4  */

.card-4-image-content {
    width: 300px;
    height: 220px;
    background-image: url('../image/Card-4.png');
    position: relative;
}

.main-content-item:hover > .card-4-image-content > .card-image-hover-text {
    opacity: 1;
    top: 165px;
    left: 0;
}

/* Card 5 */

.card-5-image-content {
    width: 300px;
    height: 220px;
    background-image: url('../image/Card-5.png');
    position: relative;
}

.main-content-item:hover > .card-5-image-content > .card-image-hover-text {
    opacity: 1;
    top: 165px;
    left: 0;
}

/* Card 6 */

.card-6-image-content {
    width: 300px;
    height: 220px;
    background-image: url('../image/Card-6.png');
}

.main-content-item:hover > .card-6-image-content > .card-image-hover-text {
    opacity: 1;
    top: 165px;
    left: 0;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
 }

.footer-content {
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    width: max-content;
    margin-top: 49px;
    margin-bottom: 15px;
}