*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto';
}
.link {
    text-decoration: none;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #4bcaff;
}
.link-color {
    color: #000000;
}
.logo {
    display: flex;
    justify-content: flex-start;
    margin-top: 63px;
}


.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #35444f;
    height: 69px;
    margin: 0;
    margin-top: 40px;
    padding-left: 0;
    
}
.menu-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #ffffff;
    color: #ffffff;
    padding: 24px 32px 18px 32px;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    
}

.item-5{
    border-right: 1px solid #ffffff;
}
.item-1 {
    width: 160px;
    cursor: default;
}
.item-6 {
    width: 132px;
}
.item-6, .item-1 {
    border: none;
    cursor: default;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 49px;

}

.aside-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
    list-style: none;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0;
}
.aside-menu-item {
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    padding: 26px 0 26px 44px;
    padding-left: 44px;
    color: #495863;
    cursor: pointer;
}

.aside-item-5 {
    padding-bottom: 30px;
}

.main-content {
    display: flex;
    flex-direction: column;
}
.main-image {   
    display: flex;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
}
.overflow-image {
    width: 320px;
    height: 381px;
    overflow: hidden;
}
.image {
    width: 320px;
    height: 381px;
    transition: all 0.5s ease-out;
}

.main-text {
    width: 885px;
}
.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    color: #2C2C2C;
}
.main-top-text {
    margin-top: 37px;
}
.main-bottom-text {
    margin-top: 34px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    margin-bottom: 30px;
    height: 69px;

}
.footer-menu {
    display: flex;
    flex-direction: row;
    width: 875px;
    height: 28px;
    justify-content: space-between;
    margin: 0;
    margin-left: 40px;
    padding: 13px 0 13px 0;
    align-items: center; 
  
}
.footer-menu-item {
    list-style: none;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    cursor: pointer;
   
}
.copyright {
    width: 190px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin: 0;
    margin-right: 40px;
}
.menu-hover:hover {
    background-color: #222F3A;
}

.aside-menu-item:hover {
    background-color: #DBDBDB;
    padding-left: 60px;
    color: #35444F;
}

.image:hover {
    transform: scale(1.1, 1.1);
}

.footer-menu-item:hover {
    padding: 13px 0 13px 0;
    border-bottom: 1px solid  #3181A6;
    color: #3181A6;
}
