body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

}

.image-to-show {
  width: 400px;
  height: 400px;
  opacity: 0;
  transition: all 0.5s ease-in;
  position: absolute;
}

.images-wrapper {
  align-self: center;
  position: relative;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

.showed {
  position: absolute;
  opacity: 1;
}

.container {
  width: max-content;
  align-self: center;
}
