*, 
*::before, 
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Gilam";
    src: url("../fonts/Gilam-Trial-Regular.eot") format("eot");
    src: local(''), url("../fonts/Gilam-Trial-Regular.otf") format("otf"), url("../fonts/Gilam-Trial-Regular.svg") format("svg"), 
    url("../fonts/Gilam-Trial-Regular.ttf") format("truetype"), url("../fonts/Gilam-Trial-Regular.woff") format("woff"),
    url("../fonts/Gilam-Trial-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  html {
    font-family: 'Gilam';
}

.header {
    background-image: url("../image/header-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 1460px;
    margin: 0 auto;
    height: 90%;
}

.header-logo-button {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 216px;
    height: 33px;
    margin-top: 46px;
}

.header-button {
    color:#E4B564;
    border: 1px solid #E4B564;
    padding: 9px 25px 9px 26px;
    margin-top: 37px;

}

.header-button-image {
    width: 12.96px;
    height: 12.96px;
}

.header-button-link {
    margin-left: 7px;
    font-family: "Circe";
}

.header-title-disc {
    color: #ffffff;
    height: auto;
}

.header-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    padding-top: 128px;
    padding-bottom: 41px;
}

.header-disc {
    width: 1182px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 41px;
}

.header-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
    text-align: center;
    row-gap: 27px;
    
}

.header-content-item{
    display: grid;
    align-content: center;
    justify-content: center;
}
.text {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    width: content;
    height: max-content;
}

.item-1 {
    background-color: #634F2C;
    grid-area: item1;
    width: 467px;
    height: 468px;
    margin-right: 34px;
    
}

.item-2 {
    background-color: #B4A385;
    grid-area: item2;
    width: 467px;
    height: 468px;
    margin-right: 25px;
}

.item-3 {
    background-color: #E4B564;
    grid-area: item3;
    width: 467px;
    height: 468px;
    
}

.item-4 {
    background-color: #635A4A;
    grid-area: item4;
    width: 715px;
    height: 468px;
}

.item-5 {
    background-color: #B08C4D;
    grid-area: item5;
    width: 715px;
    height: 468px;
}

.main-section1 {
    background-image: url("../image/parallax-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
}


.main-title-section1 {
    margin-bottom: 94px;
}

.main-content-section1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
   

}

.main-text {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

}

.main-item1 {
    width: 467px;
    Height: 313px;
    background: #0E0E0E;
    margin-bottom: 24px;
    font-weight: 700;
    padding: 44px 0 0 52px;
}

.main-item2 {
    width: 467px;
    height: 560px;
    background: #1F1F1F;
    padding: 56px 0 0 52px;
}

.main-item3 {
    width: 467px;
    height: 439px;
    background: #242424;    
    margin-bottom: 33px;
    font-weight: 700;
    padding: 44px 0 0 51px;
}

.main-item4 {
    width: 467px;
    height: 405px;
    background: #E4B564;
    color: #000000;
    padding: 47px 0 0 52px;
}

.main-item5 {
    width: 467px;
    height: 255px;
    background: #1F1F1F;
    margin-bottom: 26px;
    padding: 44px 0 0 48px;
}

.main-item6 {
    width: 467px;
    Height: 313px;
    background: #0E0E0E;
    margin-bottom: 26px;
    padding: 44px 0 0 48px;
}

.main-item7 {
    width: 467px;
    height: 277px;
    background: #0A0909;
    font-weight: 700;
    padding: 44px 0 0 48px;
}

.main-section2 {
    background-image: url("../image/Main-Section-image.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 1292px;
}


.main-title-section2 {
    display: flex;
    justify-content: space-between;
}

.main-title {  
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    padding-top: 172px;
    padding-bottom: 72px;
}

.main-button-wrapper {
    padding-top: 171px;
    padding-bottom: 71px;
}

.main-button {
    align-self: flex-end;
    color:#E4B564;
    border: 1px solid #E4B564;
    padding: 10px 39px 10px 40px;
    font-family: "Circe";

}

.main-content-section2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}

.main-content-item-section2 {
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2-main-item1 {
    background-color: #634F2C;
}

.section2-main-item2 {
    background-color: rgba(232, 210, 171, 0.76);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.section2-main-item2-text {
    width: 326px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;

}

.section2-main-item3 {
    background-color: #E4B564;
}

.section2-main-item4 {
    background-color: #635A4A;
}

.section2-main-item5 {
    background-color: #B08C4D;
}

.section2-main-item6 {
    background-color: #634F2C;
}