@mixin flexcenter ($justify-content: center, $align-items: center, $flex-direction: row){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}