/*Media*/
$dp-tablet: 768px;
$dp-desctop: 1200px;

$main-back: #FFFFFF;
$title-color: #4E4E4E;
$footer-text-color: #B9B9B9;
$mobile-left-padding: 6.914894%; /* 26px/376 */
$mobile-right-padding: 7.446809%; /* 28px/376 */
$tablet-left-padding: 8.510638%; /* 80px/940 */
$tablet-right-padding: 9.787234%; /* 92px/940 */
$desctop-padding: 13.4375%; /* 215px/1600 */