*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {}


html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0 auto;
}

.main-page {
    background-color: darkorange;
    background-image: url('../image/Background.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header > p {
    margin-left: 79px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.header > p > a {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none; 
}

.header > p > a:hover {
    color: rgba(1, 129, 63, 1);
}

.icons-autorization-links {
    display: flex;
    align-items: center;
    margin-right: 79px;
}

.icons {
    height: 24px;
    position: relative;
    display: flex;
}

.icons::after {
    content: "";
    border-right: 1px solid rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    height: 19px;
    position: relative;
    top: 3px;

}

.icon-calendly {
    margin-right: 27px;
}

.icon-letter {
    margin-right: 24px;
}

.icon-compass {
    margin-right: 25px;
}

.icons-svg > path:hover {
    fill: rgba(1, 129, 63, 1);
}

.autorization-links {
    margin-left: 27px;
}

.autorization-links > span > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
}

.autorization-links > span:first-child::before {
    content: "Welcome, ";
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
}

.autorization-links > span:last-child::before {
    content: "or ";
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
}

.autorization-links > span > a:hover {
    color: rgba(1, 129, 63, 1);;
}

/* Main Page */

.main {
    width: 100%;
    height: 91.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.header-sign-up-window {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 60px;
}

.header-sign-up-window > span {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin-left: 43px;
    margin-bottom: 15px;
}

.header-sign-up-window > span::before {
    content: url('../image/green_shape.png');
    width: 18px;
    height: 18px;
    position: relative;
    top: 2px;
    right: 43px;
}

.header-sign-up-window > a {
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-right: 59px;
    margin-bottom: 13px;
}

.header-sign-up-window > a:hover {
    color: #01813F;
    text-decoration: underline;
}

.autorization-buttons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.facebook-button {
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    border-radius: 3px;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
}

.facebook-button:hover {
   background-color: #022263;
}

.facebook-logo {
    width: 12.46px;
    height: 24px;
    margin-right: 19px;
    margin-left: 15px;
}


.facebook-button > div {
    height: 28px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.facebook-button > div::before {
    content: "";
    border-left: 1px solid  #0A162F;
    margin-right: 18px;
    height: 28px;
    opacity: 0.1;
}

.google-button {
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    border-radius: 3px;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.google-button:hover {
    background-color: #AB1F09;
}

.google-logo {
    margin-left: 10px;
}

.google-button > div {
    margin-right: 26px;
    display: flex;
    align-items: center;
}

.google-button > div::before {
    content: "";
    border-left: 1px solid  #0A162F;
    margin-right: 30px;
    height: 28px;
    opacity: 0.1;
}

.inputs-block-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 31px;
}

.inputs-block {
    width: 324px;
    height: 407px;
    flex-direction: column;
    text-align: center;
}

.inputs-block > legend {
    margin-bottom: 11px;
    position: relative;
    color: #848484;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
}

.inputs-block > legend:before, .inputs-block > legend:after {
    content: "";
    border-bottom: 1px solid #F2F2F2;
    width: 149px;
    display: inline-block;
    position: relative;
    bottom: 3.5px;
}

.inputs-block > legend:before {
    margin-right: 5px;
}

.inputs-block > legend:after {
    margin-left: 4px;
    width: 150px;
}

.inputs-block > input {
    width: 324px;
    height: 44px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 14px;
}

.inputs-block > input:nth-child(6) {
    margin-bottom: 2px;
}

.inputs-block > input::placeholder {
    color: #BEBEBE;
}

.inputs-block > input:focus {
    outline: none;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox-wrapper {
    width: 324px;
    position: relative;
    display: block;
    cursor: pointer;
    height: 20px;
    margin-bottom: 20px;
}

.checkbox-wrapper input {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 40%;
    height: 20px;
    z-index: 1;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    left: 0;
    top: 0;
    display: block;
    z-index: 0;
}

.checkbox-wrapper input:checked + .checkmark {
    background-color: #ffffff;
}

.checkbox-wrapper input:checked + .checkmark::after {
    display: block;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-wrapper > p {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    margin-left: 28px;
}

.checkbox-wrapper > p > a {
    text-decoration: none;
    color: #3CB878;
}

.checkbox-wrapper > p > a:hover {
    color: #01813F;
    text-decoration: underline;
}

.checkbox-wrapper .checkmark::after {
    border: 1px solid #3CB878CC;
    left: 5.5px;
    top: 0px;
    border-width: 0 2px 2px 0;
    width: 9px;
    height: 15px;
    transform: rotate(45deg);
}

.inputs-block > input:last-child {
    height: 46px;
    width: 100%;
    padding: 0;
    background-color: rgba(60, 184, 120, 0.8);
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    box-shadow: none;
    cursor: pointer;
    margin-bottom: 38px;
    border: none;
}

.inputs-block > input:last-child:hover {
    background-color: #01813F;;
}

.change-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 160px;
    border-radius: 10px;
    font-size: 25px ;
    font-family: 'Ubuntu', sans-serif;
    background: #305DB8;
    color: #ffffff;
}

.change-btn:hover {
    background-color: rgba(60, 184, 120, 0.8);
}
