body {
    display: flex;
    justify-content: center;
}

.password-form {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.input-wrapper {
  position: relative;
  width: 200px;      
}

.input-wrapper input {
  min-width: 120px;
  padding: 10px;
  margin-bottom: 24px;
}

.input-wrapper i {
    position: absolute;
    right: 25px;
    top: 30px;
    color: grey;
}

.input-wrapper > .hidden {
    display: none;
}

.btn{
    width: 150px;
}

.error {
  color: red;
}