*, 
*::before,
*::after {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
}

.add-post-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
}

.add-post-btn {
    width: 140px;
    padding: 15px 30px;
    border-radius: 7px;
    background-color: rgb(1, 1, 9);
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
    background-image: linear-gradient(0.25turn, rgb(1, 1, 9), #ffffff);
    margin: 10px;
    outline: 1px solid rgb(0, 0, 0, 0.3);
    outline-offset: -1px;
}

.card {
    background-color: #000000;
    padding: 5px 10px 15px 10px;
    display: flex;
    color: #ffffff;
    margin: 10px;
    border-radius: 10px;
}

.card__image-wrapper {
    width: 80px;
    overflow: hidden;
}

.card__img {
    width: 100%;
    border-radius: 50%;
    background-color: darkmagenta;
}

.card__content-wrapper {
    width: 90%;
    padding: 0 0 0 15px;
}

.card__user-info-wrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
}

.card__user-name {
    font-size: 20px;
    font-weight: 700;
}

.card__icon-wrapper {
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin-left: 5px;
    margin-bottom: 2px;
}

.card__icon {
    width: 10px;
    height: 7px;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    transform: rotate(315deg);
}

.card__icon--position-center {
    position: relative;
    left: 0;
    top: -1px;
}

.card__user-email {
    color: #808080;
    margin: 0 0 2px 10px;
    /* position: relative; */
}

.card__kebab-menu-wrapper {
    display: flex;
    min-width: 16px;
    height: 16px;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow: 1;
}

.card__kebab-menu {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid #808080;
    background-color: #808080;
    cursor: pointer;
}

.card__kebab-menu::before, .card__kebab-menu::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid #808080;
    position: relative;
    background-color: #808080;
    cursor: pointer;
}

.card__kebab-menu::before {
    top: -1px;
    left: -7px;
}

.card__kebab-menu::after {
    top: -5px;
    left: 5px;
}

.card__delete-icon {
    background-image: url("../images/delete_icon.svg");
    width: 20px;
    height: 22px;
    background-size: cover;
    cursor: pointer;
    margin-left: 20px;
    align-self: center;
}

.card__edit-btn {
    background-image: url("../images/edit-icon.svg");
    width: 20px;
    height: 22px;
    background-size: cover;
    cursor: pointer;
    margin-left: 15px;
    align-self: center;
}

.card__post-title-wrapper {
    display: flex;
    align-items: center;
}

.card__post-icon {
    background-image: url("../images/flag_marker.svg");
    min-width: 25px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__post-title {
    color: #808080;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-left: 15px;
}

.card__post-text {
    line-height: 27px;
    font-size: 18px;
}

.loader {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    --base-color: #263238; /*use your base color*/
  }
  .loader::before {
    content: '';  
    left: 0;
    top: 0;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 3s linear infinite;
  }
  .loader::after {
    content: '';  
    left: 35px;
    top: 15px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 4s linear infinite reverse;
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }  

  .modal-window {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
  }

  .modal-window__background {
    width: 100%;
    height: 100%;
    background-color: rgb(1, 1, 9, 0.4);
  }

  .modal-window__form-wrapper {
    position: absolute;
    width: 500px;
    height: 350px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  .modal-window__close-btn {
    width: 26px;
    height: 26px;
    border-radius: 2px;
    margin: 5px;
    background-color: red;
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 1;
  }

  .modal-window__close-btn::before, .modal-window__close-btn::after {
    content: "";
    width: 18px;
    border: 2px solid #000000;
    display: block;
    position: relative;
  }

  .modal-window__close-btn::before {
    transform: rotate(45deg);
    top: 11px;
    left: 4px;
  }

  .modal-window__close-btn::after {
    transform: rotate(-45deg);
    top: 7px;
    left: 4px;
  }

    .modal-window__form-wrapper form {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .modal-window__form-wrapper form legend {
    font-size: 25px;
  }

  .modal-window__input-wrapper {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
  }

  .modal-window__form-wrapper form input {
    width: 400px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(1, 1, 9, 0.4);
    border: 1px solid #000000;
  }

  .modal-window__form-wrapper form textarea {
    background-color: rgb(1, 1, 9, 0.4);
    width: 400px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #000000;
  }

  .modal-window__btn {
    padding: 10px 45px;
    background-color: rgb(154, 154, 236);
    position: absolute;
    left: 50%;
    top: 310px;
    margin: 5px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
  }

  .modal-window__btn--accept-btn {
    display: none;
  }

  .modal-window__btn--change-btn {
    display: none;
  }

  .modal-window__new-post-legend {
    display: none;
  }

  .modal-window__change-post-legend {
    display: none;
  }