*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
  }

.hidden {
    display: none;
  }

.title {
  font-weight: 700;
  font-size: 14px;
  color: $title-color;

  @media (min-width: $dp-tablet) {
    font-size: 16px;
  }
}