@import '../abstracts/variables';

.banner {
    width: 100%;
    height: auto;
    padding-left: $mobile-left-padding;
    padding-right: $mobile-right-padding;
   

    @media (min-width: $dp-tablet) {
        padding-left: $tablet-left-padding;
        padding-right: $tablet-right-padding;
    }

    @media (min-width: $dp-desctop) {
        padding-left: $desctop-padding;
        padding-right: $desctop-padding;
    }

    .banner__image-wrapper {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

.banner--margin {
    margin-bottom: 38px;

    @media (min-width: $dp-tablet) {
        margin-bottom: 56px;
    }

    @media (min-width: $dp-tablet) {
        margin-bottom: 66px;
    }
}