@import '../abstracts/mixins';
@import '../abstracts/variables';


.footer {
    background-color: #000000;
    padding: 38px 35px 47px 35px;

    @media (min-width: $dp-tablet) {
        padding: 57px 118px 56px 118px;
    }

    @media (min-width: $dp-desctop) {
        padding: 66px $desctop-padding 70px $desctop-padding;
    }
}

.footer__content-wrapper {
    @include flexcenter (center, center, column);
}

.footer__title-wrapper {
    margin-bottom: 8px;

    @media (min-width: $dp-tablet) {
        margin-bottom: 22px;
    }
}

.footer__title--color-fe {
    color: #FEFEFE;
    text-transform: uppercase;
    line-height: 22px;
}

.footer__text-wrapper {
    margin-bottom: 26px;
    @include flexcenter;

    @media (min-width: $dp-tablet) {
        margin-bottom: 37px;
      
    }

    @media (min-width: $dp-tablet) {
        max-width: 528px;
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color:#B9B9B9;
        text-align: center;

        @media (min-width: $dp-tablet) {
            display: none;
        }

        &:last-of-type {
            display: none;

            @media (min-width: $dp-tablet) {
                display: block;
            }
        }
    }
}

.footer__socio-links-wrapper {
    @include flexcenter;
    gap: 6px;
    margin-bottom: 25px;

    @media (min-width: $dp-tablet) {
        margin-bottom: 34px;
    }
}

.footer__socio-link {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid;
    @include flexcenter;
}

.footer__socio-link--color-orange {
    border-color: #F8902E;
}

.footer__socio-link--color-blue {
    border-color: #39599F;
}

.footer__socio-link--color-light-blue {
    border-color: #45B0E3;
}

.footer__socio-link--color-pink {
    border-color: #D97AB0;
}

.footer__socio-link--color-red {
    border-color: #CC212C;
}

.footer__contacts {
    @include flexcenter (center, center, column);

    @media (min-width: $dp-tablet) {
        flex-direction: row;
    }
    span {
       color: #B9B9B9;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;

        &:nth-child(1)::after {
            content: '/';
            padding-left: 8px;

            @media (min-width: $dp-tablet) {
                padding-right: 8px;
            }
        }

        &:nth-child(2)::after {
            content: '/';
            padding-left: 8px;

            @media (min-width: $dp-tablet) {
                padding-right: 8px;
            }
        }
    }
}