@import '../abstracts/mixins';
@import '../abstracts/variables';

.header {
    height: auto;
    display: flex;
    justify-content: end;
    padding: 23px $mobile-right-padding 0 $mobile-left-padding;

    @media (min-width: $dp-tablet) {
        padding: 41px $tablet-right-padding 0 $tablet-left-padding;
    }
    
    @media (min-width: $dp-desctop) {
        padding: 45px $desctop-padding 0 $desctop-padding;
    }

}

.header--margin {
    margin-bottom: 23px; 

    @media (min-width: $dp-tablet) {
        margin-bottom: 43px;
    }
    
    @media (min-width: $dp-desctop) {
        margin-bottom: 51px;
    }
}

.header__navigation-menu {
   width: 100%;
   @include flexcenter(flex-end);

   @media (min-width: $dp-tablet) {
    justify-content: center;
 }

}

.header__burger-menu {
    width: 44px;
    height: 37px;
    background-color: black;
    @include flexcenter;
    position: relative;
    
    @media (min-width: $dp-tablet) {
        display: none;
     }

    &:hover .header__three-lines {
        border: none;
    }

    &:hover .header__three-lines::before {
        transform: rotate(45deg);
        translate: 0 2px;
    }

    &:hover .header__three-lines::after {
        transform: rotate(-45deg);
        translate: 0 2px;
    }
}

.header__three-lines {
    width: 17px;
    height: 10px;
    border-bottom: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    position: relative;

    &::before {
        content: "";
        display: block;
        border-top: 2px solid #FFFFFF;
        width: 17px;
        height: 2px;
        top: 2px;
        position: relative;
        transition: all 0.1s;
    }

    &::after {
        content: "";
        display: block;
        border-top: 2px solid #FFFFFF;
        width: 17px;
        height: 2px;
        top: 0;
        position: relative;
        transition: all 0.1s;
    }

}

.header__dropdown-menu {
    position: absolute;
    top: 37px;
    right: 0px;
    width: 182px;
    height: 208px;
    background: #F5F5F5;
    padding-left: 13px;

    ul {
        margin-top: 4px;
        li {
            margin-bottom: 8px;
        }
    }
}

.header__list-wrapper {
    display: none;

    @media (min-width: $dp-tablet) {
        display: block;
 
        .header__list {
         @include flexcenter;
         gap: 34px;

         @media (min-width: $dp-desctop) {
            gap: 68px;
         }
        }
     }
}



.header__item {
    display: block;
    width: max-content;
    height: 22px;
    a {
        font-weight: 400;
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        text-decoration: none;
        color: $title-color;
        transition: all 0.4s;

        &:hover {
            color: #57A4A4;
        }
    }
}

   
