@import '../abstracts/variables';
@import '../abstracts/mixins';

.inst-shot {
    width: 100%;
    padding-left: $mobile-left-padding;
    padding-right: $mobile-right-padding;
    padding-bottom: 42px;

    @media (min-width: $dp-tablet) {
        padding-left: $tablet-left-padding;
        padding-right: $tablet-right-padding;
        padding-bottom: 50px;
        padding-top: 47px;
        background: rgba(0, 0, 0, 0.03);
    }

    @media (min-width: $dp-desctop) {
        padding-left: $desctop-padding;
        padding-right: 213px;
    }

}

.inst-shot__title-wrapper {
    @include flexcenter (flex-start);
    margin-bottom: 13px;
    width: 100%;

    @media (min-width: $dp-tablet) {
        justify-content: space-between;
        margin-bottom: 35px;
    }

    @media (min-width: $dp-desctop) {
        margin-bottom: 24px;
    }

    p {
        display: none;
        
        @media (min-width: $dp-tablet) {
            display: block;
            font-weight: 700;
            font-size: 13px;
            line-height: 22px;
            color: $title-color;
            text-transform: uppercase;
        }
    }
}

.inst-shot__title--uppercase-margin {
    text-transform: uppercase;
}

.inst-shot__images-wrapper {
    @include flexcenter (flex-start);
    width: 100%;

    @media (min-width: $dp-tablet) {
        gap: 9px;
    }

    @media (min-width: $dp-desctop) {
        gap: 10px;
    }

    img {
        width: 301px;
        height: 301px;

        @media (min-width: $dp-tablet) {
            display: block;
            width: 32.552083%;
            height: 32.421875%;
            flex-grow: 1;

            @media (min-width: $dp-desctop) {
                width: 24.358974%;
                height: 24.358974%;
            }
        }

        &:nth-child(n+2) {
            display: none;

            @media (min-width: $dp-tablet) {
                display: block;

                &:nth-child(n+4) {
                    display: none;

                    @media (min-width: $dp-desctop) {
                        display: block;
                }
                }
            }
        }
    }
}