@import '../abstracts/variables';
@import '../abstracts/mixins';

.posts {
    width: 100%;
    height: auto;
    padding-left: $mobile-left-padding;
    padding-right: $mobile-right-padding;

    @media (min-width: $dp-tablet) {
        padding-left: $tablet-left-padding;
        padding-right: $tablet-right-padding;
    }

    @media (min-width: $dp-desctop) {
        padding-left: $desctop-padding;
        padding-right: $desctop-padding;
    }
}

.posts--margin {
    margin-bottom: 81px;

    @media (min-width: $dp-tablet) {
        margin-bottom: 60px;
    }

    @media (min-width: $dp-desctop) {
        margin-bottom: 69px;
    }
}

.posts__title--uppercase-margin {
    text-transform: uppercase;
    margin-bottom: 23px;
    line-height: 22px;

    @media (min-width: $dp-tablet) {
        margin-bottom: 24px;
    }
}

.posts__card-wrapper {
    display: grid;
    gap: 28px;

    @media (min-width: $dp-tablet) {
        gap: 32px;
    }

    @media (min-width: $dp-desctop) {
        grid-template-columns: 1fr 1fr;
        row-gap: 32px;
        column-gap: 55px;

    }

    div:nth-child(4) {
        display: none;

        @media (min-width: $dp-tablet) {
            display: flex;
        }
    }

}   

.posts__card {

    @include flexcenter (flex-start, flex-start, column);
    gap: 11px;

    @media (min-width: $dp-tablet) {
        flex-direction: row;
        gap: 21px;
    }

    img {
        width: 160px;
        height: 140px;
    }
}

.posts__text-content {

    p:nth-child(2) {
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;  
        color: #7C7C7C;

        @media (min-width: $dp-tablet) {
            font-size: 12px;
            margin-bottom: 7px;
        }

        span {
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    p:last-of-type {
        display: none;

        @media (min-width: $dp-tablet) {
            display: block;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            color: #5C5C5C;
        }
    }

}

.posts__title--line-height {
    line-height: 30px;

    @media (min-width: $dp-tablet) {
        margin-bottom: 1px;
    }
}
